input,
select,
textarea {
  font: 20px Arial;
  font-weight: lighter;
  border: 2px solid #696969;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input,
select {
  line-height: 40px;
  height: 40px;
}

textarea {
  padding-top: 10px;
  height: 100px;
}

label {
  font: bold 20px Arial;
  font-weight: normal;
  margin-bottom: 10px;
}

.label-required:after { 
    content:" *"; 
    color:red;
}